.SectionHeader {
    font-family: var(--ff-black);
    text-align: center;
    font-size: var(--fs-650);
}
.SectionSubHeader {
    font-family: var(--ff-black);
    text-align: center;
    font-size: var(--fs-620);
}