$colors: (
	primary: (
		300: hsl(0, 0%, 0%)
	),
	secondary: (
		300: hsl(36, 99%, 61%)
		),
	accent: (
		300: hsl(71, 63%, 53%),
		400: hsl(71, 62%, 52%),
		500: hsl(251, 73%, 67%),
		600: hsl(35, 99%, 58%),
		700: hsl(320, 100%, 41%),
		800: hsl(360, 100%, 44%)
	),
	neutral: (
		200: hsla(0, 0%, 100%, 0.100),
		300: hsl(0, 0, 100%),
		400: hsla(0, 0, 60%),
		500: hsl(0, 0%, 97%),
		550: hsl(220, 9%, 94%),
		600: hsla(0, 0%, 0%, 0.03),
		700: hsl(0, 0%, 65%),
		800:hsl(240, 1%, 42%),
		900:hsl(0, 0%, 76%)
	)
);
