@use "../abstracts/mixins" as *;

.Hero {
    display: grid;
    grid-template-columns: 1fr 61rem;
    grid-template-rows: auto;
    grid-template-areas: 
        "heroContent image";
    padding-top: 14.5rem;
    padding-bottom: 19rem;
    position: relative;
    &-Content {
        grid-area: heroContent;
        @include flex(flex-start, flex-start, column)
    }
    &-Header {
        color: var(--clr-primary-300);
        font-family: var(--ff-black);
        font-size: var(--fs-700);
        margin-top: 4rem;
        margin-bottom: 6rem;
        font-variant-numeric: lining-nums;
        line-height: 1.4;
    }
    &-Text {
        order: -1;
        color: var(--clr-neutral-400);
        text-transform: uppercase;
        font-family: var(--ff-regular);
        font-size: var(--fs-300);
    }
    &-ImageContainer {
        grid-area: image;
    }
    &-Image {
        object-fit: contain;
        width: inherit;
        height: inherit;
    }
    &::after{
        @include leaf("../images/bg-leaf-6.png", 135px, 136px, 0, 70rem);
    }
    &::before{
        @include leaf("../images/bg-leaf-5.png", 78px, 81px, 30rem, 46rem);
    }
}